.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    "OO1 OO3 OO5 OO7 O1O"
    "OO1 OO3 OO5 OO7 O1O"
    "OO1 OO3 OO5 OO7 O1O"
    "OO1 OO3 OO5 OO7 O1O"
    "OO1 OO3 OO5 OO8 O11"
    "OO1 OO3 Terminal OO8 O11"
    "OO2 OO4 Terminal OO8 O11"
    "OO2 OO4 OO6 OO8 O11"
    "OO2 OO4 OO6 OO9 O12"
    "OO2 OO4 OO6 OO9 O12"
    "OO2 OO4 OO6 OO9 O12"
    "OO2 OO4 OO6 OO9 O12";
}

.OO2 { grid-area: OO2; }

.OO1 { grid-area: OO1; }

.OO3 { grid-area: OO3; }

.OO4 { grid-area: OO4; }

.OO7 { grid-area: OO7; }

.OO8 { grid-area: OO8; }

.OO9 { grid-area: OO9; }

.O1O { grid-area: O1O; }

.O11 { grid-area: O11; }

.O12 { grid-area: O12; }

.Terminal { grid-area: Terminal; }

.OO5 { grid-area: OO5; }

.OO6 { grid-area: OO6; }