.container {
  list-style-type: none;
}

.container li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  color: #fefefe;
  aspect-ratio: 9/16;
  background-color: #75aaeb;
  border: 1px solid #046dee;
  border-radius: 0.5rem;
}

.container .closed {
  background-color: #b93557;
  border: 1px solid #b6022f;
}

.container .claimed {
  background-color: #ec7757;
  border: 1px solid #e63606;
}

.container .Terminal {
  background-color: black;
  border: 1px solid black;
}
