.lockers {
    list-style-type: none;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 1rem 1rem;
}

.lockers li {
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:1rem;
    aspect-ratio: 1;
    border: 1px solid slategrey
}

.lockers .closed {
    background-color: yellowgreen;
}

.lockers .claimed {
    background-color: red;
}
